* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.unselectable {
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

body {
}

#wrapper {
  margin: 10px;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

#subscriptionBuilder {
  display: inline-block;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 5px 10px;
}
#subscriptionBuilder div {
  margin: 10px 5px;
}

