* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.unselectable {
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

body {
}

#wrapper {
  margin: 10px;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

input {
  text-align: right;
  outline: none;
  border: 1px solid #888;
  border-radius: 4px;
  font-family: monospace;
  font-size: 16px;
  padding: 2px 5px;
}

#variableInput, #variableDisplay {
  display: inline-block;
  border: 2px solid #eee;
  padding: 5px 10px;
}
#variableInput div {
  margin: 10px 5px;
}

.disabled {
  visibility: hidden;
}

#variableDisplay {
  border-color: transparent;
}

input.error {
  border-color: red;
  color: red;
}

