* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.unselectable {
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

body {
}

#wrapper {
  margin: 10px;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

input {
  text-align: right;
  outline: none;
  border: 1px solid #888;
  border-radius: 3px;
  font-family: monospace;
  font-size: 16px;
  padding: 2px 5px;
}

#variableInput, #variableDisplay {
  display: inline-block;
  border: 2px solid #eee;
  padding: 8px 16px;
}
#variableInput div {
  margin: 16px 8px;
}

.disabled {
  visibility: hidden;
}

#variableDisplay {
  border-color: transparent;
}

input.error {
  border-color: #ad0f0f;
  color: #ad0f0f;
  background: #fff5f6;
}

.dollars {
  position: absolute;
}

td {
  padding: 5px;
}

#queryDisplay {
  word-break: break-all;
}
.queryValue {
  font-weight: bold;
}

